body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  box-shadow: 0 0 30px 0 rgba(156, 51, 83, 0.2);
  padding: 0 0.75rem;
  margin-bottom: 32px;
}
.header .title {
  font-size: 24px;
  text-decoration: none;
  color: #9c3353;
  display: inline-block;
}
.header #nav {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.header #nav a {
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  padding: 0 12px;
  color: #212121;
  display: flex;
  align-items: center;
}
.header #nav .active {
  background-color: #9c3353 !important;
  color: #ffc1d3;
}
.header .login {
}

.content-banner {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-height: 600px;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 0 top -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-banner h1 {
  font-size: 42px;
  margin-top: 30px;
  line-height: 57px;
  color: #212121;
}
.content-banner h2 {
  color: #5d5d5d;
  font-size: 24px;
  margin-top: 6px;
  line-height: 33px;
  font-weight: 400;
}
.content-banner h3 {
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 27px;
  margin-top: 35px;
  font-weight: 400;
  color: #212121;
}
.content-banner h4 {
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 27px;
  margin-top: 16px;
  font-weight: 400;
  color: #212121;
}
.button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  background-color: #9c3353;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 6px 0 rgba(156, 51, 83, 0.2);
  border-radius: 25px;
  text-align: center;
  padding: 0 16px;
  padding-top: 8px;
  display: block;
}
.button:hover {
  background-color: #9c3353;
}

.fundraisers {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fundraisers h1 {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #212121;
  font-size: 22px;
  padding: 0 15px;
  font-weight: 600;
}
.fundraisers .content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 60px;
}

.fundraiser-card {
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(156, 51, 83, 0.3);
  border-radius: 6px;
  position: relative;
  margin: 0 0 26px;
  overflow: hidden;
}

.fundraiser-card img {
  width: 100%;
}

.fundraiser-card .title {
  margin-top: 8px;
  color: #5d5d5d;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
.fundraiser-card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.fundraiser-card .details .flex-com {
  flex-direction: column;
}
.fundraiser-card .details p {
  margin: 0;
  padding: 5px 8px 3px;
  background: hsla(0, 0%, 71%, 0.1);
  display: block;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  max-height: 66px;
}
.hRed {
  color: red;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fundraisers .goFundraisers {
  display: inline-block;
  font-size: 18px;
  color: #9c3353;
  text-decoration: underline;
}

.download-app-container {
  width: 1200px;
  margin: 40px auto;
  background: #fdf9fa;
  max-width: 1280px;
  border-radius: 10px;
  padding: 25px 0 10px;
  box-shadow: 0 4px 10px 0 rgba(156, 51, 83, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.download-app-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.request-Mobile {
  width: 100%;
  height: 145px;
  background-image: linear-gradient(264deg, #9c3353, #5f2747);
  padding: 30px 0;
}
.request-Mobile .bg-white {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.request-Mobile .bg-white div {
  font-size: 24px;
  margin-right: 39px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .content {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.footer .content ul {
  display: flex;
  flex-direction: column;
}
.footer .content ul li {
  margin-top: 16px;
  color: #9c3353;
  font-size: 14px;
  font-family: AvenirLTPro-Book;
}
.footer .content ul li:nth-child(1) {
  font-size: 15px;
  color: #212121;
  position: relative;
  display: block;
}
ul {
  list-style-type: none; /* 去掉项目符号 */
  padding: 0; /* 去掉默认内边距 */
  margin: 0; /* 去掉默认外边距 */
}

li {
  padding: 0; /* 可选：去掉li的内边距 */
  margin: 0; /* 可选：去掉li的外边距 */
}

.footer .text {
  width: 100%;
  line-height: 51px;
  height: 51px;
  background: #212121;
  margin-bottom: 0;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 60px;
  width: 1200px;
}
.search .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nothing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
}
.search .form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.search .btn {
  width: 300px;
  gap: 32px;
  justify-content: flex-end !important;
}
.search .content {
  margin-top: 32px;
}
option[value=''][disabled] {
  display: none; /* 隐藏该选项 */
}
select,
input {
  width: 200px;
  height: 30px;
  border: 1px solid #5d5d5d;
  border-radius: 8px;
}

.details {
  width: 1200px;
  margin: 0 auto;
}
.details .details-content .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details .details-content .container img {
  width: 60%;
}

.details .details-content .container .details {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
